<div class="flex flex-col rounded-none max-w-[965px]" role="region" aria-label="Member Management Section">
  <div class="flex flex-wrap gap-5 justify-between w-full max-md:max-w-full">
    <h1 class="text-4xl font-extrabold leading-none text-black">
      Manajemen Anggota
    </h1>
    <button class="flex items-start self-start mt-3 text-sm font-medium leading-none text-white rounded-lg" aria-label="Add Member">
      <div class="flex overflow-hidden gap-2 justify-center items-center px-5 py-3 bg-blue-800 rounded-lg border border-gray-300 border-solid shadow-sm">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/c8ee5b9060d0d9aa40d7492b4076d5391cf96b9becf4c994b7983a3adfe73c1c?placeholderIfAbsent=true&apiKey=0eb9abb28bf34cd7be47a2dfb2f311cb"
          alt=""
          class="object-contain shrink-0 self-stretch my-auto aspect-[0.93] w-[13px]"
        />
        <span>Tambah Anggota</span>
      </div>
    </button>
  </div>

  <div class="flex flex-wrap gap-5 justify-between mt-2 w-full whitespace-nowrap max-md:max-w-full">
    <form class="flex flex-col text-base leading-normal text-gray-500" role="search">
      <div class="flex flex-col w-full">
        <label for="searchMembers" class="sr-only">Search Members</label>
        <div class="flex gap-2 items-center px-3.5 py-2.5 w-full bg-white rounded-lg border-gray-300 border-solid">
          <div class="flex flex-1 shrink gap-2 items-center self-stretch my-auto w-full basis-0 min-w-[240px]">
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/c3298dfdfad3de5332e45e084e12d2172f36afb3b78a8a3653d0a71b92ee77ff?placeholderIfAbsent=true&apiKey=0eb9abb28bf34cd7be47a2dfb2f311cb"
              alt=""
              class="object-contain shrink-0 self-stretch my-auto aspect-square w-[18px]"
            />
            <input type="search" id="searchMembers" placeholder="Search" class="w-full bg-transparent border-none rounded-lg focus:outline-none" />
          </div>
        </div>
      </div>
    </form>

    <button class="flex items-start text-sm mt-6 font-medium leading-none rounded-lg min-h-[40px] text-slate-700" aria-label="Filter Members">
      <div class="flex overflow-hidden gap-2 justify-center items-center px-4 py-2.5 bg-white rounded-lg border border-gray-300 border-solid shadow-sm">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/565ef0f7d60ee4cafb3e62c36e3f2b725be54df8b71e3b1813ba0884d857d57b?placeholderIfAbsent=true&apiKey=0eb9abb28bf34cd7be47a2dfb2f311cb"
          alt=""
          class="object-contain shrink-0 self-stretch my-auto w-5 aspect-square"
        />
        <span>Filters</span>
      </div>
    </button>
  </div>

</div>