<div class="flex flex-col px-6 py-8 w-full rounded-xl border border-solid border-black border-opacity-50 max-w-4xl mx-auto bg-white">
  <div class="flex flex-col">
    <h1 class="text-3xl font-extrabold text-black">
      Detail Pegawai
    </h1>
    <p class="mt-2 text-sm text-gray-700">
      Detail dari setiap karyawan
    </p>
  </div>
  <div class="flex items-center mt-8 gap-8">
    <!-- Foto -->
    <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/d51e6353f840d11b0b9228a36ee2f6a2a8681b6398bb794bd0d91b1d1b155d92?apiKey=0eb9abb28bf34cd7be47a2dfb2f311cb&"
      class="object-cover rounded-lg w-40 h-52 border border-gray-300"
      alt="Employee Profile Picture"
    />
    <!-- Detail Karyawan -->
    <dl class="flex flex-col text-sm text-black">
      <div class="flex mb-2">
        <dt class="w-36 font-bold">Nama Karyawan</dt>
        <dd>: Frizqya Dela Pratiwi</dd>
      </div>
      <div class="flex mb-2">
        <dt class="w-36 font-bold">NIP</dt>
        <dd>: 192312345678900</dd>
      </div>
      <div class="flex mb-2">
        <dt class="w-36 font-bold">Jabatan</dt>
        <dd>: Analis Pengelolaan Keuangan APBN Ahli Muda</dd>
      </div>
      <div class="flex mb-2">
        <dt class="w-36 font-bold">Bidang</dt>
        <dd>: Keuangan</dd>
      </div>
      <div class="flex mb-2">
        <dt class="w-36 font-bold">Email</dt>
        <dd>: 08123456789</dd>
      </div>
      <div class="flex">
        <dt class="w-36 font-bold">Jenis Kelamin</dt>
        <dd>: Perempuan</dd>
      </div>
    </dl>
  </div>
  <hr class="mt-6 border-gray-300" />
  <div class="flex justify-end mt-4">
    <button class="px-4 py-2 bg-white rounded-lg border border-gray-300 shadow-sm text-sm font-medium text-black hover:bg-gray-50">
      Kembali
    </button>
  </div>
</div>