<!-- Card Section -->
<div class="flex flex-wrap gap-5 justify-between w-full max-md:max-w-full">
  <h1 class="text-4xl font-extrabold leading-none text-black">
    Ubah Password
  </h1>
</div>
<div class="max-w-3xl px-4 py-10 sm:px-6 lg:px-8 lg:py-7 mx-auto">
  <!-- Card -->
  <div class="bg-white rounded-xl shadow p-4 sm:p-7">

    <form>
      <div class="mt-2 bg-blue-100 border border-blue-200 text-sm text-blue-800 rounded-lg p-4 dark:bg-blue-800/10 dark:border-blue-900 dark:text-blue-500" role="alert" tabindex="-1" aria-labelledby="hs-soft-color-info-label">
        <span id="hs-soft-color-info-label" class="font-bold">Info</span>
        Anda akan mengganti password untuk anggota :
        <b>Frizqia Dela Prawiri</b>
      </div>
      <!-- Section -->
      <div class="pt-6 first:pt-0 last:pb-0 border-t first:border-transparent border-gray-200">
        <label for="password_baru" class="inline-block text-sm font-medium">
          Password Baru
        </label>

        <div class="mt-2 space-y-3">
          <input
            id="password_baru"
            type="password"
            class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
            placeholder="Password Baru"
          />
        </div>
      </div>
      <div class="py-2 first:pt-0 last:pb-0">
        <label for="Konfirmasi_Password_Baru" class="inline-block text-sm font-medium">
          Konfirmasi Password Baru
        </label>

        <div class="space-y-3">
          <input
            id="Konfirmasi_Password_Baru"
            type="password"
            class="px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
            placeholder="NIP"
          />
        </div>
        <div
          class="mt-8 bg-yellow-100 border border-yellow-200 text-sm text-yellow-800 rounded-lg p-4 dark:bg-yellow-800/10 dark:border-yellow-900 dark:text-yellow-500"
          role="alert"
          tabindex="-1"
          aria-labelledby="hs-soft-color-warning-label"
        >
          <span id="hs-soft-color-warning-label" class="font-bold">Peringatan</span>
          Password minimal 8 karakter dan harus mengandung huruf besar, huruf kecil, dan angka.
        </div>
      </div>

      <!-- End Section -->

    </form>

    <div class="mt-5 flex justify-end gap-x-2">
      <button
        type="button"
        class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
      >
        Kembali
      </button>
      <button
        type="button"
        class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-gray-900 text-white hover:bg-gray-700 focus:outline-none focus:bg-gray-600 disabled:opacity-50 disabled:pointer-events-none"
      >
        Reset Password
      </button>
    </div>
  </div>
  <!-- End Card -->
</div>
<!-- End Card Section -->