<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}} | E-Voisy</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://preline.co/assets/css/main.min.css?v=1.0.0" />
  </head>
  <body class="bg-gray-50">
    {{{body}}}
    <script src="https://preline.co/assets/vendor/preline/dist/index.js?v=1.0.0"></script>
  </body>
</html>
