<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ganti Password</title>
    <link
      href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://preline.co/assets/css/main.min.css?v=1.0.0"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-50">
    <!-- Banner Biru -->
    <header class="bg-blue-600 text-white py-4">
  <div class="container mx-auto flex justify-between items-center px-4">
    <!-- Logo dan Teks -->
    <div class="flex items-center">
      <img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/befd2e64e54fd7a8ae9ef1614d7a9d870a896659a28381b2db0f62470189d471?apiKey=0eb9abb28bf34cd7be47a2dfb2f311cb&"
            class="object-contain aspect-[1.34] w-[150px]"
            alt="Navigation Header"
          />
      <div>
        <h1 class="text-lg font-bold uppercase">E - VOISY </h1>
        <p class="text-lg font-bold uppercase">BADAN PUSAT STATISTIK KOTA PADANG</p>
      </div>
    </div>
    <!-- Ikon Profil -->
    <div>
       <button class="p-1.5 border-2 border-white rounded-full hover:bg-blue-700 flex items-center justify-center w-14 h-14 bg-blue-500">
    <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/6f9353d5733ad1909ce73a65f15d002fb86917a5e023e3b7b986a42f3b3b23fe?apiKey=0eb9abb28bf34cd7be47a2dfb2f311cb&"
      class="object-cover rounded-full w-full h-full"
      alt="BPS Kota Padang Logo"
    />
  </button>
</div>
      </button>
        </svg>
      </button>
    </div>
  </div>
</header>

    <!-- End Banner -->

    <!-- Main Content -->
    <main class="container mx-auto mt-10">
      {{{body}}}
    </main>
    <!-- End Main Content -->

    <script src="https://preline.co/assets/vendor/preline/dist/index.js?v=1.0.0"></script>
  </body>
</html>
