<div class="flex flex-col lg:ml-200 lg:mt-8">
  <h1 class="text-5xl font-bold">Panduan Penggunaan Aplikasi</h1>
  <article class="mt-10 p-10 bg-white rounded-xl border border-cyan-950 leading-8">
    <h2 class="text-2xl font-bold">
      Selamat Datang di Aplikasi Website Pemilihan Pegawai Terbaik di Badan Pusat Statistik Kota Padang
    </h2>
    <p class="mt-6 text-base">Berikut adalah langkah-langkah untuk melakukan voting:</p>
    <ol class="list-decimal pl-5 space-y-4">
      <li>
        Lakukan voting tahap 1 dengan mengklik menu <span class="font-bold">"voting"</span> dan memilih tiga pegawai
        yang dianggap paling mencerminkan BERAKHLAK, disiplin, dan kinerja yang baik dari pilihan kandidat yang ada
        (yang sudah difilter berdasarkan rata-rata nilai kinerja/CKP dan absensi pegawai selama triwulan).
      </li>
      <li>
        Setiap pemilihan memiliki bobot nilai berbeda:
        <ul class="list-disc pl-5 mt-2">
          <li>Pilihan pertama: 3 poin</li>
          <li>Pilihan kedua: 2 poin</li>
          <li>Pilihan ketiga: 1 poin</li>
        </ul>
      </li>
    </ol>
    <p class="my-4">
      Poin tersebut akan dijumlahkan untuk setiap pegawai yang dipilih dan tiga pegawai dengan poin tertinggi akan
      menjadi nominasi pada pemilihan pegawai teladan tahap akhir.
    </p>
    <ol class="list-decimal pl-5" start="3">
      <li>
        Ketiga kandidat atau nominator yang terpilih dari hasil pemilihan tahap pertama, akan dinilai oleh seluruh
        pegawai berdasarkan 21 indikator BERAKHLAK pada tahap <span class="font-bold">"penilaian kriteria"</span>.
        Kandidat dengan skor total tertinggi akan terpilih sebagai Pegawai Teladan.
      </li>
    </ol>
  </article>
</div>
