<div class="flex flex-col lg:ml-10 lg:mt-8">
  <h1 class="text-5xl font-bold">Penilaian Kriteria</h1>
  <p class="mt-4 text-base leading-6">
    Pada penilaian kriteria, kandidat yang telah terpilih pada tahap voting akan dinilai berdasarkan 21 kriteria. Setiap kriteria akan diberikan penilaian dengan skala:
    <br />
    1 (Sangat Tidak Sesuai), 2 (Tidak Sesuai), 3 (Sesuai), 4 (Sangat Sesuai).
  </p>
  <p class="mt-4 text-base leading-6">
    Penilaian ini bertujuan untuk memberikan evaluasi yang objektif dalam menentukan hasil akhir sesuai dengan kriteria yang telah ditetapkan.
  </p>

  <!-- Notifikasi Belum Bisa Dinilai -->
  <div class="mt-8 bg-white rounded-xl border border-gray-300 shadow-sm p-6 flex justify-center items-center h-[400px]">
    <p class="text-gray-600 text-xl font-medium">Voting 1 masih berlangsung</p>
  </div>
</div>
