<div class="flex flex-col lg:ml-10 lg:mt-12">
  <h1 class="text-6xl font-bold text-center">Terima Kasih Sudah Melakukan Voting!</h1>
  <p class="mt-6 text-lg leading-8 text-center">
    Silahkan download bukti voting dibawah ini.
  </p>

<div class="mt-10 bg-white rounded-xl border border-gray-300 shadow-lg p-8 w-full">
  <!-- Iframe untuk menampilkan PDF -->
  <iframe 
    src="/files/bukti-voting.pdf"
    class="w-full h-[700px] border-none rounded-lg"
    style="width: 100%; min-width: 100%;"
  >
  </iframe>
  
  <!-- Tombol Download PDF -->
  <a 
    href="/files/bukti-voting.pdf" 
    class="mt-6 inline-block px-6 py-3 bg-orange-500 text-white font-semibold text-lg rounded-lg shadow-md hover:bg-orange-600 focus:outline-none focus:ring-4 focus:ring-orange-500 focus:ring-offset-2"
  >
    Download PDF
  </a>
</div>

</div>
