<div class="w-full max-w-[1200px] mx-auto p-4">
  <!-- Header Section -->
  <div class="flex flex-col mb-8">
    <h1 class="text-2xl font-bold">Pemilihan Berlangsung</h1>
    <p class="text-gray-500 italic mt-1">{{pemilihanTitle}}</p>
  </div>

  <!-- Input Penilaian Section -->
  <div class="bg-white shadow-sm rounded-xl p-6 border">
    <form action="/admin/pemilihan_berlangsung/{{pemilihan_id}}/hasil_penilaian" method="post">
      <h2 class="text-lg font-bold mb-4">Input Penilaian Pegawai</h2>

      <div class="space-y-6">
        <!-- Download Template -->
        <div class="flex items-center justify-between p-4 bg-blue-50 rounded-lg">
          <div>
            <h3 class="text-gray-800 font-medium">Download Template</h3>
            <p class="text-sm text-gray-600">
              Download template Excel untuk input penilaian pegawai periode ini
            </p>
          </div>
          <button
            type="button"
            class="bg-gray-900 hover:bg-gray-700 text-white px-4 py-2 rounded-lg flex items-center gap-2"
            onclick="window.location.href='/admin/generate/{{pemilihan_id}}/download-template'"
          >
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_368_150)">
              <path d="M15.3499 9.83783V14.7378C15.3499 15.0761 15.0757 15.3503 14.7374 15.3503H1.2624C0.924127 15.3503 0.649902 15.0761 0.649902 14.7378V9.83783C0.649902 9.36632 1.16032 9.07164 1.56865 9.30738C1.75816 9.4168 1.8749 9.619 1.8749 9.83783V14.1253H14.1249V9.83783C14.1249 9.36632 14.6353 9.07164 15.0437 9.30738C15.2332 9.4168 15.3499 9.619 15.3499 9.83783ZM7.56656 10.2712C7.80581 10.5107 8.19399 10.5107 8.43324 10.2712L11.4957 7.20867C11.8293 6.87508 11.6767 6.30547 11.221 6.18337C11.0095 6.1267 10.7839 6.18716 10.6291 6.34198L8.6124 8.35941V1.26283C8.6124 0.791322 8.10198 0.496636 7.69365 0.732388C7.50415 0.8418 7.3874 1.044 7.3874 1.26283V8.35941L5.37075 6.34198C5.03716 6.0084 4.46754 6.16102 4.34545 6.61671C4.28877 6.8282 4.34924 7.05385 4.50406 7.20867L7.56656 10.2712Z" fill="white"/>
              </g>
              <defs>
              <clipPath id="clip0_368_150">
              <rect width="24" height="24" fill="white"/>
              </clipPath>
              </defs>
            </svg>

            Download Template Excel
          </button>
        </div>

        <!-- Upload Nilai -->
        <div class="flex items-center justify-between p-4 bg-blue-50 rounded-lg">
          <div>
            <h3 class="text-gray-800 font-medium">Upload Nilai</h3>
            <p class="text-sm text-gray-600">
              Upload file Excel yang sudah diisi dengan nilai pegawai
            </p>
            <p id="selectedFileName" class="text-sm text-gray-500 mt-2"></p>
          </div>
          <div class="flex items-center gap-2">
            <label for="excel_penilaian" class="bg-black-1000 hover:bg-gray-100 text-black border border-black px-4 py-2 rounded-lg flex items-center gap-2 cursor-pointer">
              {{!-- <img 
                src="/images/pilih_file.png" 
                alt="upload icon"
                class="w-5 h-5"
              /> --}}
              <span id="uploadButtonText">Pilih File Excel</span>
            </label>
            <input 
              type="file" 
              name="excel_penilaian" 
              id="excel_penilaian" 
              class="hidden" 
              accept=".xls,.xlsx,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
              onchange="updateFileName(this)"
            >
            <button type="button" 
              class="bg-black hover:bg-gray-800 text-white px-6 py-2 rounded-lg">
              Upload
            </button>
          </div>
        </div>
      </div>

      <!-- Lihat Hasil -->
      <div class="flex justify-end mt-6">
          <button type="submit" class="bg-black hover:bg-gray-800 text-white px-6 py-3 rounded-lg">
            Lihat Hasil
          </button>
      </div>
    </form>
    
  </div>
</div>



<script>
function updateFileName(input) {
  const fileName = input.files[0]?.name;
  const fileNameDisplay = document.getElementById('selectedFileName');
  const uploadButtonText = document.getElementById('uploadButtonText');
  
  if (fileName) {
    fileNameDisplay.textContent = `File terpilih: ${fileName}`;
    uploadButtonText.textContent = 'Ganti File';
  } else {
    fileNameDisplay.textContent = '';
    uploadButtonText.textContent = 'Pilih File Excel';
  }
}
</script>