<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <div class="max-w-2xl mb-10">
        <h2 class="text-2xl font-bold md:text-4xl md:leading-tight">
            Pemilihan Pegawai Terbaik Triwulan 1 2024
        </h2>
    </div>
    <div class="grid sm:grid-cols-1 lg:grid-cols-1 gap-6">
        <div class="group flex flex-col bg-gray-200 border border-black shadow-sm rounded-xl hover:shadow-md transition">
            <div class="p-4 md:p-5">
                <div class="flex justify-between items-center">
                    <div>
                        <h3 class="group-hover:text-gray-900 font-semibold text-black dark:group-hover:text-gray-400">
                            Input Penilaian Pegawai
                        </h3>
                    </div>
                    <div class="ps-3">
                        <a href="/admin/pemilihan_berlangsung/input_penilaian" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-gray-900 text-white hover:bg-gray-700">
                            Mulai
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="group flex flex-col bg-gray-100 border border-black shadow-sm rounded-xl hover:shadow-md transition">
            <div class="p-4 md:p-5">
                <div class="flex justify-between items-center">
                    <div>
                        <h3 class="group-hover:text-gray-900 font-semibold text-gray-500 dark:group-hover:text-gray-400">
                            Voting Tahap 1
                        </h3>
                    </div>
                    <div class="ps-3">
                        <button type="button" disabled class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-gray-500 text-white disabled:opacity-50 disabled:pointer-events-none">
                            Mulai
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="group flex flex-col bg-gray-100 border border-black shadow-sm rounded-xl hover:shadow-md transition">
            <div class="p-4 md:p-5">
                <div class="flex justify-between items-center">
                    <div>
                        <h3 class="group-hover:text-gray-900 font-semibold text-gray-500 dark:group-hover:text-gray-400">
                            Penilaian Kriteria
                        </h3>
                    </div>
                    <div class="ps-3">
                        <button type="button" disabled class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-gray-500 text-white disabled:opacity-50 disabled:pointer-events-none">
                            Mulai
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
